<%= render 'navigation/navigation', title: "Groups", back_link: false %>

<div class="group-list">
  <% @groups.each do |group| %>
    <div class="group-item">
      <%= link_to group_entities_path(group) do %>
        <div class="group-content">
       <!--   <%= content_tag :i, "", class: "fa #{group.icon}" %>  -->
    <%= content_tag :i, "", class: "fa #{group.icon}" %>
          <p><%= group.name %></p>
          <p>$ <%= group.total_amount %></p>
        </div>
      <% end %>
      <div class="group-actions">
        <%= link_to 'Show', group_path(group) %>
      </div>
    </div>
  <% end %>

  <div class="new-category-link">
    <%= link_to 'NEW CATEGORY', new_group_path %>
  </div>
</div>
