<%= stylesheet_link_tag 'groups' %>

<%= render 'navigation/navigation', title: "Groups", back_link: groups_path %>

<div>
  <h4>TOTAL PAYMENT FOR  "<%= @group.name.upcase  %>"</h4>
  <div class="group-content">   
    <%= content_tag :i, "", class: "fa #{@group.icon}" %>
    <h4><%= @group.name %></h4>
    <h5>$<%= @sum %></h5>
  </div>
<div>
<div class="new-group">
  <%= link_to "ADD A NEW GROUP", new_group_path(@group)  %>
</div>
